body {
    background: #f9fafb;
}

.card {
    border-color: #ececec;
}

.container-fluid fieldset > div.shadow-sm {
    box-shadow: none !important;
    border: 1px solid #eeeded;
}

.container-fluid .ql-container {
    min-height: 150px !important;
}


/*Tabs*/
.nav-pills {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 8px;
}

.nav-pills .nav-link {
    border-radius: 0;
    background: transparent;
    border-bottom: 2px solid transparent;
    color: #666;
}

.nav-pills .nav-link.active {
    background: transparent;
    color: #000;
    border-bottom: 2px solid #0d6efd;
    font-weight: 500;
}

/*Avatars*/
.avatar-picker__item {
    cursor: pointer;
}

.avatar-picker__image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 9999px;
    border: 3px solid transparent;
    transition: .2s;
}

.avatar-picker__item input:checked + .avatar-picker__image {
    border-color: #0d6efd;
    transform: scale(1.08);
    box-shadow: 0 0 0 3px rgba(13,110,253,.15);
}

.avatar-picker__image:hover {
    transform: scale(1.05);
}

/*label right*/
label.form-label {
    text-align: right;
    padding: 10px 10px 0 0;

}
/*Reviews label*/
.page-platform-reviews-edit label.form-label {
    text-align: left;
}

/*Label*/
label.form-label{
    font-size: .950rem;
    /*color: #8f8f8f;*/
}

/*help*/
small.form-text{
    font-size: .800em;
}

/* Star */
sup {
    font-size: 100%;
}

/* Input */

.form-control{
    border-radius: 5px;
    max-width: none;
}


