
/*Text*/
/*.service-text{*/
/*    padding:50px 0;*/
/*}*/

/*.service-image-wrapper{*/
/*    height:100%;*/
/*    max-height:700px;*/
/*}*/

/*.service-image{*/
/*    margin-top: 60px;*/
/*    width:100%;*/
/*    height:100%;*/
/*    object-fit:cover;*/

/*    border-radius:12px;*/
/*    box-shadow:0 15px 40px rgba(0,0,0,0.08);*/

/*    display:block;*/
/*}*/
/*div{*/

/*    border: 1px solid green;*/
/*}*/

/*.service-image-wrapper{*/
/*    min-height:100%;*/
/*}*/

/*.service-image{*/
/*    width:100%;*/
/*    height:100%;*/
/*    object-fit:cover;*/

/*    border-radius:12px;*/
/*    display:block;*/
/*}*/

/*.service-text-content > *:last-child{*/
/*    margin-bottom:0;*/
/*}*/

.service-image-wrapper{
    height:100%;
}

.service-image{
    width:100%;
    height:auto;
    border-radius:12px;
    display:block;
}